#info-box {
    position: fixed;
    top: 75px; 
    left: 65px; 
    width: 280px;
    max-height: calc(100vh - 70px);
    overflow-y: auto;
    background-color: transparent;
    padding: 5px 10px 0px;
    margin-top: 0px;
    border: 1px solid black;
    border-radius: 5px;
    display: none;
    z-index: 300; 
    box-sizing: border-box;
}
  
#infoTitle{
    margin-top : 10px;
}

#infoTitle{
    margin-top : 0px;
}

