#search-container {
    position: static; 
    z-index: 105;
}

#brain-area-search {
    width: 228.5px;
    height: 28px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 0px;
    font-family: 'SpaceGrotesk-Bold', sans-serif;
    color: #7DFDFE;
    font-size: 14px;
}

#search-button {
    width: 70px;
    height : 40px;
    padding: 5px 10px;
    margin-left: 5px;
    border: 1px solid #ddd;
    border-radius: 0px;
    cursor: pointer;
    font-family: 'SpaceGrotesk-Bold', sans-serif;
    color: #7DFDFE;
    font-size: 14px;
}
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    /*border-top: none;*/
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    font-family: 'SpaceGrotesk-Bold', sans-serif;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  
  .autocomplete-items div:hover {
    background-color: #e9e9e9;
  }

  /*autocomplete-------------------------------------------------------------*/


#autocomplete-list {
  margin-top: -16px;
  position: absolute;
  border: 1px solid #7DFDFE; 
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  background: rgba(10, 23, 55, 0.95); 
  overflow: hidden;
  border-radius: 0 0 5px 5px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}


.autocomplete-items div {
  padding: 10px;
  text-align: left;
  cursor: pointer;
  background-color: transparent; 
  color: #7DFDFE; 
  transition: background-color 0.3s, color 0.3s; 
}


.autocomplete-items div:hover {
  background-color: #7DFDFE; 
  color: rgba(10, 23, 55, 1); 
  box-shadow: 0 0 10px #7DFDFE; 
}

/*alert-----------------------------------------------------------------------*/

.custom-alert-hidden {
  display: none;
}

#custom-alert {

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: hidden;
  align-items: center;
  justify-content: center;
}

.custom-alert-content {
  padding: 20px;
  background: #111;
  border: 1px solid black;
  color: #7DFDFE;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px #7DFDFE;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#custom-alert-close {
  background-color: #29f;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px #fff;
  transition: background-color 0.3s, box-shadow 0.3s;
}

#custom-alert-close:hover {
  background-color: #7DFDFE;
  box-shadow: 0 0 8px #fff;
}


  