#interaction-panel {
    position: absolute;
    top: 75px;
    right: 10px; 
    width: 230px;
    background: transparent;
    border-radius: 8px;
    z-index: 102;
  }
  
  #opacity-slider, #clipX, #clipY, #clipZ {
    width: 100%;
    margin-bottom: 10px;
  }

  .text1 {
    font-size: 15px;
  }

  #download-screenshot{
    width: 100%;
    margin-bottom: 5px;
    font-family: 'SpaceGrotesk-Bold', sans-serif;
  }
  
  #interaction-panel label {
    display: block;
    margin-bottom: 5px;
  }
  
  #brain-label {
    z-index: 1000;
    background-color: transparent;
    color: #7DFDFE;
    font-size: 15px;
    margin-left: 20px;
    margin-bottom: 200px
  }
  /*panels -------------------------------------------------------------*/

 
.tron-panel {
    background-color: rgba(0, 0, 0, 0.5); 
    border: 1px solid black;
    color: #7DFDFE;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px #7DFDFE;
    position: relative;
}


.tron-panel:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px #7DFDFE; 
    color: white;
}

/*sliders -------------------------------------------------------------*/


.tron-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 1px; 
    background: #0bf; 
    outline: none;
    opacity: 0.6;
    transition: background-color .2s;
    border-radius: 5px;
}


.tron-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px; 
    height: 10px;
    background: #7DFDFE; 
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px #fff;
    transition: width .3s ease, height .3s ease, background-color .3s ease;
}

.tron-slider:hover::-webkit-slider-thumb {
    width: 15px; 
    height: 15px; 
    background: hsl(219, 68%, 64%);
    box-shadow: 0 0 10px #fff;
}

.tron-slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #7DFDFE;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px #fff;
    transition: width .3s ease, height .3s ease, background-color .3s ease;
}

.tron-slider:hover::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #fff;
    box-shadow: 0 0 10px #fff;
}

/*toggle -------------------------------------------------------------*/


.tron-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
}


.tron-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}


.tron-label {
    position: relative;
    height: 20px;
    width: 40px;
    background-color: #111;
    border-radius: 20px;
    margin-right: 10px;
    transition: background-color .3s ease;
}

.tron-label::after {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #7DFDFE;
    transition: transform .3s ease, background-color .3s ease, box-shadow .3s ease;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}


.tron-checkbox:checked + .tron-label {
    background-color: #0e8c8c;
}

.tron-checkbox:checked + .tron-label::after {
    transform: translateX(18px);
    background-color: #fff;
    box-shadow: 0 0 10px #fff;
}


.toggle-text {
    user-select: none;
    color: #fff;
    margin-top: -4px;
}


.tron-toggle:hover .tron-label {
    box-shadow: 0 0 8px #7DFDFE;
}




/*button -------------------------------------------------------------*/


.tron-button {
    background-color: rgba(25, 123, 255, 0.25);
    color: white;
    border: 0.1px solid rgb(0, 0, 0); 
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px #7DFDFE; 
}


.tron-button:hover {
    background-color: rgba(25, 123, 255, 0.5); 
    box-shadow: 0 0 8px #7DFDFE; 
    transform: scale(1.02);
}


.tron-button::before {
    content: '';
    position: absolute;
    top: -50%; left: -50%;
    width: 200%; height: 200%;
    background-color: #fff;
    transform: rotate(45deg);
    transition: all 0.5s ease;
    opacity: 0;
    pointer-events: none; 
}

.tron-button:hover::before {
    top: 0; left: 0;
    width: 100%; height: 100%;
    opacity: 0.1;
}








