#question-dropdown-trigger {
    position: absolute;
    top: calc(69px + 270px + 20px); 
    right: 10px; 
    width: 220px;
    background: transparent;
    padding: 5px 10px 5px;
    border-radius: 8px;
    z-index: 101;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #question-panel {
    position: absolute;
    top: calc(59px + 270px + 60px); 
    right: 10px; 
    width: 220px;
    background: transparent;
    padding: 0px 10px 10px;
    border-radius: 8px;
    z-index: 100;
    display: none; 
  }

  #question-panel.visible {
    display: block;
  }
  
  
  #question-container {
    margin-bottom: 0px;
  }

  #question{
    margin-top: 4px;
    margin-bottom: 5px;
  }
  

    #new-question-btn {
        margin-left: 5px;

    }

    #submit-answer-btn {
        margin-right: 5px;
        margin-left: 12.5px;
    }
  
  #answer-feedback {
    margin-top: 8px;
    color: #333;
    font-size: 12px;
    margin-bottom: -7px;
  }

  /* loading animation ------------------------------------------------------------ */
  
  .center {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wave {
    width: 5px;
    height: 50px; 
    background: linear-gradient(45deg, cyan, #fff);
    margin: 5px; 
    animation: wave 1s linear infinite;
    border-radius: 20px;
  }
  
  .wave:nth-child(2) { animation-delay: 0.1s; }
  .wave:nth-child(3) { animation-delay: 0.2s; }
  .wave:nth-child(4) { animation-delay: 0.3s; }
  .wave:nth-child(5) { animation-delay: 0.4s; }
  .wave:nth-child(6) { animation-delay: 0.5s; }
  .wave:nth-child(7) { animation-delay: 0.6s; }
  .wave:nth-child(8) { animation-delay: 0.7s; }
  .wave:nth-child(9) { animation-delay: 0.8s; }
  .wave:nth-child(10) { animation-delay: 0.9s; }
  
  @keyframes wave {
    0%, 100% { transform: scale(0); }
    50% { transform: scale(1); }
  }
  
  .loading-hidden {
    display: none;
  }

  /*checkboxes -------------------------------------------------------------*/

  .tron-radio-option {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
}

.tron-radio-option input[type="radio"] {
    opacity: 0;
    position: absolute;
}

.tron-radio-option .custom-radio {
    height: 20px;
    width: 20px;
    min-width: 20px; 
    border-radius: 50%;
    border: 2px solid #7DFDFE;
    margin-right: 10px;
    position: relative;
    flex-shrink: 0; 
}

.tron-radio-option .custom-radio::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #7DFDFE;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease;
}

input[type="radio"]:checked + .custom-radio::after {
    transform: translate(-50%, -50%) scale(1);
}

.tron-radio-option:hover .custom-radio {
    box-shadow: 0 0 8px #7DFDFE;
}

