/* This styles your Three.js container */
#threejs-scene-container {
  position: relative; /* Make this relative so that absolute positioning of children is relative to this container */
  width: 100%;
  height: 100vh;
  background: #000; /* Optional: in case your scene takes a moment to load */
}

/* This styles the interaction panel */
#interaction-panel {
  position: absolute; /* Position your panel absolutely so it floats over the Three.js scene */
  top: 10px; /* Adjust this value to place it where you want */
  right: 10px; /* Adjust this value to place it where you want */
  width: 300px; /* Width of the panel */
  padding: 10px;
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
  border-radius: 8px;
  z-index: 100; /* Ensure it's on top */
}

/* Style for the sliders */
#opacity-slider, #clipX, #clipY, #clipZ {
  width: 100%; /* Make the sliders expand to the width of the panel */
  margin-bottom: 10px; /* Space between sliders */
}

/* Style for labels */
#interaction-panel label {
  display: block; /* Make each label occupy its own line */
  margin-bottom: 5px; /* Space between label and next element */
}

#info-box {
  position: fixed; /* Fixed position relative to the viewport */
  top: 60px;       /* Distance from the top of the viewport */
  left: 10px;      /* Distance from the left of the viewport */
  width: 300px;    /* Fixed width */
  max-height: calc(100vh - 70px); /* Maximum height, accounting for top position and some margin */
  overflow-y: auto; /* Enable vertical scrolling for overflow content */
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  display: none;   /* Hidden by default */
  z-index: 95;     /* Ensure it's above other elements */
}

#search-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 105;
}

#brain-area-search {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#search-button {
  padding: 5px 10px;
  margin-left: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

#screenshot-container {
  display: flex;
  align-items: start;
  justify-content: start;
  /* Adjust as needed for layout */
}

#brain-label {
  /* Minimal padding for a tight fit */
  padding: 2px 4px; 

  /* Font styling adjustments */
  font-size: 0.8em;
  line-height: 1.2em; 

  /* Semi-transparent background */
  background-color: rgba(255, 255, 255, 0.3); 

  /* Border and text alignment */
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;

  /* Ensuring the text fits in a single line */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /* Position adjustments */
  position: absolute;
  display: none;

  /* Optional: Adding a small shadow for better readability */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}